<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
  </head>
  <body>
    <h1>College</h1>
    <table border=1 cellpadding=5>
      <tr>
        <th>Login</th>
        <th>User type</th>
        <th>Role ($ = built-in role)</th>
      </tr>
      <tr>
        <td><a href="/main">Guest</a></td>
        <td>Guest</td>
        <td>$unauthenticated, $everyone</td>
      </tr>
      <tr>
        <td>
          <form action="/main" method="post">
            <input type="text" name="email" value="asad@leo.com" placeholder="Email"><br>
            <input type="password" name="password" value="12345678" placeholder="Password"><br>
            <input type="submit" value="Login">
          </form>
        </td>
        <td>Student</td>
        <td>$student, $authenticated, $everyone</td>
      </tr>
      <tr>
        <td>
          <form action="/projects" method="post">
            <input type="text" name="email" value="ali@leo.com" placeholder="Email"><br>
            <input type="password" name="password" value="12345678" placeholder="Password"><br>
            <input type="submit" value="Login">
          </form>
        </td>
        <td>Administrator</td>
        <td>admin, $authenticated, $everyone</td>
      </tr>
      <% if (loginFailed) { %>
        <tr>
          <td colspan=6>
              <span style="color:red">Login failed, please try again</span>
          </td>
        </tr>
      <% } %>
    </table>
  </body>
</html>
